<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="verification-container">
    <h2 class="section-title">Verification Process</h2>

    <div class="wrapper wrapper-one">
      <div class="top-heading-content">
        <h3>1. INTRODUCTION</h3>

        <p>
          The Sindh food Authority was established in 2018 under the Sindh Food
          Authority Act 2016. The main role of The Food Authority is to regulate
          and monitor the food business in order to ensure provision of safe
          food.
        </p>

        <h3>2. LICENSING FOR FOOD BUSINESS</h3>

        <p>
          Under the provisions of section 19 of the Sindh Food Authority Act,
          2016 every food operator is required to get registered and obtain a
          license to run food business.
        </p>

        <div>
          <p>
            <strong>2.1</strong> For the purpose of issuing licenses, the Sindh
            Food Authority has divided the food business into different
            categories whose details are available in this form.
          </p>
        </div>

        <div>
          <p>
            <strong>2.3</strong> For the purpose of issuing licenses, the Sindh
            Food Authority has divided the food business into different
            categories whose details are available in this form.
          </p>
        </div>

        <h3>3. Licensing Procedure</h3>

        <p>
          Application form for License can be obtained from SFA offices. After
          submission of the license form, operation team of SFA will visit the
          location for inspection of the business premises and give report to
          the Authority. If the information and details provided are found
          correct as per standards, the license will be issued for the period of
          one year.
        </p>

        <h2>PROCEDURE OF OBTAINING LICENSE</h2>

        <ion-img
          src="/assets/img/flowchart.png"
          alt="Verification Process"
        ></ion-img>


        
        <h3>4. Validity</h3>

        <p>
          The validity of the license issued by Sindh Food Authority is one year (starting from the date of issue). In case the license is issued after January in any subsequent month, the same shall be valid for 12 months and the owner will have to get renewal of his/her license annually.
        </p>


        <h3>5. Renewal</h3>

        <p>
          Every food license is renewed annually against payment of renewal fee which is equivalent to License fee.
        </p>


        <h3>6. Lab Testing</h3>

        <p>
          In certain categories of food business lab testing is necessary before issuance of license. In case of lab testing, the expenditure will be borne by the applicant.
        </p>

        <h3>7. Medical Reports of the Staff</h3>

        <p>
          In certain categories of food business medical reports of the staff are necessary before issuance of license. In case of medical reports, the expenditure will be borne by the applicant.
        </p>


        <h3>8. License Fees</h3>

        <p>
          The details of fee(s) and bank account are as under:
        </p>


        <div>
          <p>Payment should be made in Account No: <strong>0303-509374-1000</strong>, Sindh Bank, Sindh Secretariat Branch Karachi.</p>
        </div>


        <p>Account Name: <strong>Sindh Food Authority</strong></p>
        <p>Website: <strong>www.sfa.gos.pk</strong></p>
      </div>
    </div>
  </div>
</ion-content>
