<ion-content [fullscreen]="true">

  <div class="center-container">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="Logo">
    </div>
    <div class="login-content">
      <h1>Verify OTP</h1>
      <form id="login-form" action="">

        <div class="inputField">
          <ion-item class="no-border">
            <ion-input
              label="OTP"
              label-placement="floating"
              fill="solid"
              placeholder="Enter Your OTP"
            ></ion-input>
          </ion-item>
        </div>

        <ion-button class="form-btn">Verify OTP</ion-button>
       

      </form> 
    </div>
  </div>
  
</ion-content>
