<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="challanlist-container">
    <h2 class="section-title">Challan List</h2>

    <div class="wrapper wrapper-one">
      <div class="top-heading-content">
        <div class="title">
          <h3>
            LICENSE FEE FOR DIFFERENT CATEGORIES OF FOOD BUSINESS- 2019/2020
          </h3>
        </div>
      </div>

      <div class="license-item-content">
        <div class="license-item" *ngFor="let challan of challanList">
          <div class="top-content">
            <div class="left-side">
              <h6>PREMISES NAME:</h6>
              <p>
                <span *ngFor="let i of challan.Premises_Name"
                  >{{i + ", "}}</span
                >
              </p>
            </div>
            <div class="right-side">
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Category: {{challan.Category}}</span>
              <span class="item" *ngIf="!challan.subLicenseStatus"
                >LICENSE FEE (RS.) : {{challan.License_fee}}</span
              >
              <span class="item" *ngIf="!challan.subLicenseStatus">(SRB) : {{challan.SRB}}%</span>
              <span class="item" *ngIf="!challan.subLicenseStatus"
                >TOTAL LICENSE FEE (RS.) :
                {{challan.licensePercentageValueAdd}}</span
              >
              <span class="item" *ngIf="!challan.subLicenseStatus"
                >SIZE (Covered Area) :
                {{challan.Size_Covered_Area_SQ_FT_From}}ft To
                {{challan.Size_Covered_Area_SQ_FT_TO}}ft</span
              >
            </div>
          </div>
          <div class="subChallan-content" *ngIf="challan.subLicenseStatus">
            <table border="1px">
              <thead>
                <tr>
                  <th>LICENSE FEE</th>
                  <th>SRB</th>
                  <th>TOTAL LICENSE FEE (RS.)</th>
                  <th>SIZE (Covered Area)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of challan.licensefee">
                  <td>{{s.License_fee}}</td>
                  <td>{{s.SRB}}%</td>
                  <td>{{s.Total_License_Fee}}</td>
                  <td>
                    {{s.Size_Covered_Area_SQ_FT_From}} To
                    {{s.Size_Covered_Area_SQ_FT_TO}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
