<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="challanlist-container">
    <h2 class="section-title">Challan List</h2>

    <div class="wrapper wrapper-one">
      <div class="top-heading-content">
        <div class="title">
          <h3>
            LICENSE FEE FOR DIFFERENT CATEGORIES OF FOOD BUSINESS- 2019/2020
          </h3>
        </div>
      </div>

      <div class="license-item-content">
        <div class="license-item">
          <div class="top-content">
            <div class="left-side">
              <h6>PREMISES NAME:</h6>
              <p>
                PREMISES CARYING OUT BUISNESS OF MARGARINE, BANASPATI, FAT
                SPREADS, ANIMAL FAT (HALAL), GHEE, FISH OIL, EDIBLE OIL, SPICES,
                CEREAL PROUCTS, SOFT DRINKS, AERATED WATER, FRUITS AND
                VEGETABLES, FOOD ADDITIVES & INGREDIENTS AND COLD STORAGE ETC.
              </p>
            </div>
            <div class="right-side">
              <ion-button
                ><span>Download</span>
                <ion-icon name="cloud-download-outline"></ion-icon>
              </ion-button>

              <ion-button class="print"
                ><span>Print</span>
                <ion-icon name="print-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Category: (A)</span>
              <span class="item">LICENSE FEE (RS.) : 0.0</span>
              <span class="item">(SRB) (13%) : Ac</span>
              <span class="item">TOTAL LICENSE FEE (RS.) : 0.0</span>
              <span class="item">SIZE (Covered Area) : 3432ft</span>
            </div>
          </div>
        </div>

        <div class="license-item">
          <div class="top-content">
            <div class="left-side">
              <h6>PREMISES NAME:</h6>
              <p>MEGA MART/WHOLE SALE DEALER/ WARE HOUSES/DISTRIBUTOR</p>
            </div>
            <div class="right-side">
              <ion-button
                ><span>Download</span>
                <ion-icon name="cloud-download-outline"></ion-icon>
              </ion-button>

              <ion-button class="print"
                ><span>Print</span>
                <ion-icon name="print-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Category: (A)</span>
              <span class="item">LICENSE FEE (RS.) : 0.0</span>
              <span class="item">(SRB) (13%) : Ac</span>
              <span class="item">TOTAL LICENSE FEE (RS.) : 0.0</span>
              <span class="item">SIZE (Covered Area) : 3432ft</span>
            </div>
          </div>
        </div>

        <div class="license-item">
          <div class="top-content">
            <div class="left-side">
              <h6>PREMISES NAME:</h6>
              <p>MEGA MART/WHOLE SALE DEALER/ WARE HOUSES/DISTRIBUTOR</p>
            </div>
            <div class="right-side">
              <ion-button
                ><span>Download</span>
                <ion-icon name="cloud-download-outline"></ion-icon>
              </ion-button>

              <ion-button class="print"
                ><span>Print</span>
                <ion-icon name="print-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Category: (A)</span>
              <span class="item">LICENSE FEE (RS.) : 0.0</span>
              <span class="item">(SRB) (13%) : Ac</span>
              <span class="item">TOTAL LICENSE FEE (RS.) : 0.0</span>
              <span class="item">SIZE (Covered Area) : 3432ft</span>
            </div>
          </div>
        </div>

        <div class="license-item">
          <div class="top-content">
            <div class="left-side">
              <h6>PREMISES NAME:</h6>
              <p>
                HOTELS AND RESTURANTS LOCATED AT PROMINENT PLACES INCLUDING FINE
                DINING AND AMBIANCE HOTELS AND RESTAURANTS. FAST FOOD &
                RESTAURANT CHAINS (INTERNATIONAL) WATER PLANTS & MANUFACTURING
                UNITS MARRIAGE/BANQUET HALL WITH OR WITHOUT KITICHEN AND
                CATERERS
              </p>
            </div>
            <div class="right-side">
              <ion-button
                ><span>Download</span>
                <ion-icon name="cloud-download-outline"></ion-icon>
              </ion-button>

              <ion-button class="print"
                ><span>Print</span>
                <ion-icon name="print-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Category: (A)</span>
              <span class="item">LICENSE FEE (RS.) : 0.0</span>
              <span class="item">(SRB) (13%) : Ac</span>
              <span class="item">TOTAL LICENSE FEE (RS.) : 0.0</span>
              <span class="item">SIZE (Covered Area) : 3432ft</span>
            </div>
          </div>
        </div>

        <div class="license-item">
          <div class="top-content">
            <div class="left-side">
              <h6>PREMISES NAME:</h6>
              <p>SMALL KIRYANA STORE/ PAN SHOP</p>
            </div>
            <div class="right-side">
              <ion-button
                ><span>Download</span>
                <ion-icon name="cloud-download-outline"></ion-icon>
              </ion-button>

              <ion-button class="print"
                ><span>Print</span>
                <ion-icon name="print-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Category: (A)</span>
              <span class="item">LICENSE FEE (RS.) : 0.0</span>
              <span class="item">(SRB) (13%) : Ac</span>
              <span class="item">TOTAL LICENSE FEE (RS.) : 0.0</span>
              <span class="item">SIZE (Covered Area) : 3432ft</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
