ion-content {
  --background: #eaeaea;
}

.challanlist-container {
  width: 100%;
}

.challanlist-container .section-title {
  margin-top: 0;
  font-weight: 600;
}

.wrapper {
  width: 100%;
}

.wrapper-one {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 20px;
  background: #fff;
  border-radius: 18px;
}

.wrapper-one {
  .top-heading-content {
    width: 100%;
    margin-bottom: 18px;

    .title h3 {
      margin: 0 auto;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
    }
  }

  .license-item-content {
    .license-item {
      padding: 20px;
      border-radius: 18px;
      background: #ededed;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 10px;

      .top-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;

        .left-side {
          h6 {
            font-weight: 600;
          }

          p {
            margin: 0 auto;
            font-size: 13px;
            max-width: 800px;
          }
        }

        .right-side {}
      }

      .bottom-content {
        padding-top: 6px;

        .left-side {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          padding: 10px 0 4px 0;

          .item {
            padding: 0 10px;
            border-right: 2px solid gray;
            font-weight: 600;
            font-size: 13px;
          }

          .item:first-child {
            padding: 0 10px 0 0;
          }

          .item:last-child {
            border: none;
          }

          .item .license-id {
            color: #00a9d8;
          }

          .item .license-expiry {
            color: #d90f0f;
          }
        }
      }

      .subChallan-content {
        width: 100%;
        padding: 10px;
        background-color: white;
        border-radius: 12px;
        margin-top: 10px;
        table {
          width: 100%;
          border-collapse: collapse;

          th {
            font-weight: 600;
          }

          th,
          td {
            padding: 6px;
          }
        }
      }

      @media screen and (max-width: 460px) {
        .subChallan-content {
          overflow: scroll;

        }
      }

    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper-one {
    .license-item-content {
      .license-item {
        .top-content {
          flex-direction: column;

          .right-side {
            margin-top: 12px;
          }
        }

        .bottom-content {
          .left-side {
            flex-direction: column;

            .item {
              padding: 0px;
              border: none;
            }
          }
        }
      }
    }
  }
}