
ion-content {
    --background: #eaeaea;
  }

  
  .item-inner {
    padding-right: 0px !important;
  }
  
  ion-item {
    --border-color: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0px;
    // --background: #F2F2F2;
  }
  
  ion-label {
    --padding-start: 0;
    --padding-end: 0;
    --padding-right: 0;
  }
  ion-select {
    padding: 0 0;
  }
  
  

  ion-radio::part(container) {
    width: 25px;
    height: 25px;
  
    border-radius: 6px;
    border: 2px solid #00974e;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: #ffffff;
    border: 2px solid #00974e;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 5px;
    height: 12px;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #00974e;
    transform: rotate(45deg);
  }
  
  ion-button {
    --background: #014122;
    --background-hover: #076a3a;
    --background-activated: #014122;
    --background-focused: #014122;
    width: 100%;
  
    --color: #ffffff;
  
    --border-radius: 6px;
    --border-color: #014122;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: #0a482a;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  
    ion-icon {
      font-size: 15px;
      margin-left: 4px;
    }
  }
  
  .inputField {
    margin-bottom: 10px;
  }
  
  .center-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9f9f9;
  }
  
  .center-container .logo {
    width: 320px;
    height: 100px;
  }
  
  .login-content {
    width: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
  }
  .login-content h1 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 22px;
  }
  
  #login-form {
    width: 100%;
  }
  
  #login-form label {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #5c5c5c;
    font-size: 12px;
  }
  
  #login-form label input {
    min-width: 310px;
    padding: 12px 14px;
    border-radius: 8px;
    background-color: #eaeaea;
    border: none;
    margin: 4px 0 6px 0;
  }
  
  #login-form .forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 4px 0 6px 0;
    font-size: 12px;
  }
  
  #login-form .forgot-password a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  #login-form .form-new-account {
    margin-top: 14px;
  }
  
  #login-form .form-new-account * {
    text-align: center;
    margin: 0;
    font-size: 12px;
  }
  
  #login-form .form-new-account .or {
    color: #5c5c5c;
  }
  #login-form .form-new-account p a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  @media only screen and (max-width: 450px) {
    .center-container .logo {
      width: 250px;
    }
  
    .login-content {
      width: 95%;
    }
    #login-form label input {
      min-width: 250px !important;
    }
  }

  .checkbox-content ion-radio-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;

    .checkbox-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 6px;
      font-size: 14px;
    }
  }