<ion-content [fullscreen]="true">
  <div class="center-container">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="Logo" />
    </div>
    <div class="login-content">
      <h1>Select Send OTP</h1>
      <form id="login-form" #otpType="ngForm" (ngSubmit)="onSubmitFullForm()">
        <div class="inputField checkbox-content">
          <ion-radio-group
            [(ngModel)]="otp_type"
            name="otp_type"
            value="number"
          >
            <div class="checkbox-btn">
              <ion-radio value="email"></ion-radio><strong>Email</strong>
              <span id="email">{{userEmail}}</span>
            </div>
            <div class="checkbox-btn">
              <ion-radio value="number"></ion-radio><strong>Number</strong>
              <span id="number">{{userNumber}}</span>
            </div>
          </ion-radio-group>
        </div>

        <ion-button type="submit" [disabled]="!otpType.valid" class="form-btn">Send OTP</ion-button>
      </form>
    </div>
  </div>
</ion-content>
