<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="dashboard-container">
    <h2 class="section-title">All License</h2>

    <div class="wrapper wrapper-two">
      <div class="top-heading-content">
        <div></div>
        <div class="search-inputField">
          <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

          <!-- <ion-list
            [ngClass]="searchStatus ? 'show-flex ion-list-search' : 'hide ion-list-search'"
          >
            <ion-item *ngFor="let result of results">
              <ion-label>{{ result.License_ID }}</ion-label>
            </ion-item>
          </ion-list> -->
        </div>
        <div></div>
      </div>

      <div class="license-item-content">
        <div class="notFound" *ngIf="licenseList.length == 0">
          <h3>License Not Found</h3>
        </div>
        <div class="license-item" *ngFor="let license of licenseList">
          <div class="top-content">
            <div class="left-side">
              <h6>
                License ID Number:
                <span class="license-id">{{license.License_ID}}</span>
              </h6>
              <p>
                Name of Applicant:
                <span class="name">{{license.Name_of_Applicant}}</span>
              </p>
              <p>
                Name of Food Business:
                <span class="food-name">{{license.Name_of_Food_Business}}</span>
              </p>
            </div>
            <div class="right-side">
              <h5>License Status</h5>
              <h4 class="approved">{{license.Status.Status_Name}}</h4>
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Expiry Date :
                <span class="license-expiry">{{license.Expiry_date}}</span></span>
            </div>
            <div class="right-side">
              <button type="button" class="btn btn-primary">
                <div class="text" routerLink="/paychallan/{{license.id}}">
                  Challan
                </div>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </button>

              <button type="button" class="btn btn-primary">
                <div class="text" routerLink="/licenseview/{{license.id}}">
                  License
                </div>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </button>
              <button type="button" class="btn btn-secondary">
                <div class="text" routerLink="/licensedetail/{{license.id}}">
                  View
                </div>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="noMoreData">

          <span [ngStyle]="{display: (noMoreDataStatus == true) ? 'block' : 'none'}" class="original-button">No More
            Data</span>
        </div>

        <ion-infinite-scroll [ngStyle]="{display: (noMoreDataStatus == true) ? 'none' : 'block'}"
          (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content loadingText="Loading..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </div>
  </div>
</ion-content>