<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="success-container">
    <div class="content">
      <div class="image-container">
        <ion-img src="./assets/img/success.png" alt="success"></ion-img>
      </div>

      <h3>Submitted Successfully</h3>
      <h4 class="status">Status : in Process</h4>
      <p>Thank you. Your License form has been submitted. Your details and documents will now go through the verification process, and tracking information for the process will be sent to your email.</p>
      <p class="email">dev.shamama&#64;gmail.com</p>

      <h4 class="thankYouText">Thank You:  For Application</h4>

      <ion-button>Go To Dashbaord <ion-icon name="grid-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
