<ion-content [fullscreen]="true">
  <div class="center-container">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="Logo" />
    </div>
    <div class="login-content">
      <h1>Reset Password</h1>
      <form id="login-form" #resetPassword="ngForm" (ngSubmit)="onSubmit()">
        <div class="inputField">
          <ion-item class="no-border">
            <ion-input
              [(ngModel)]="dataset.newPassword"
              name="newPassword"
              required
              type="password"
              id="newPassword"
              label="New Password"
              label-placement="floating"
              fill="solid"
              placeholder="Enter Your New Password"
            ></ion-input>
          </ion-item>
        </div>

        <div class="inputField">
          <ion-item class="no-border">
            <ion-input
              [(ngModel)]="dataset.confirmPassword"
              name="confirmPassword"
              required
              type="password"
              label="Confirm Password"
              label-placement="floating"
              fill="solid"
              placeholder="Enter Your Confirm Password"
            ></ion-input>
          </ion-item>
        </div>

        <ion-button
          type="submit"
          [disabled]="!resetPassword.valid"
          class="form-btn"
          >Update Password</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
