<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="dashboard-container">
    <h2 class="section-title">License Registration Form</h2>

    <div class="wrapper">
      <div class="top-content-header">
        <div class="logo-one">
          <ion-img src="./assets/img/logo-1.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        </div>

        <div class="main-heading">
          <h2>SINDH FOOD AUTHORITY</h2>
          <p>APPLICATION FOR LICENSE OF FOOD BUSINESS</p>
          <p>UNDER SECTION 19 OF SINDH FOOD AUTHORITY ACT 2016</p>
        </div>

        <div class="logo-two">
          <ion-img src="./assets/img/logo-2.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        </div>
      </div>

      <div class="main-content">
        <form action="" id="license_form">

          <div class="inputField applicant">
            <ion-item class="no-border">
              <ion-input label="Name of Applicant" label-placement="floating" fill="solid"
                placeholder="Enter Your Name of Applicant"></ion-input>
            </ion-item>
          </div>

          <div class="inputField cnic">
            <ion-item class="no-border">
              <ion-input label="CNIC #" label-placement="floating" fill="solid"
                placeholder="Enter Your CNIC #"></ion-input>
            </ion-item>
          </div>

          <div class="inputField phone">

            <ion-item class="no-border">
              <ion-input label="Ph #" label-placement="floating" fill="solid" placeholder="Enter Phone #"></ion-input>
            </ion-item>
          </div>

          <div class="inputField cell">

            <ion-item class="no-border">
              <ion-input label="Cell #" label-placement="floating" fill="solid"
                placeholder="Enter Your Cell No"></ion-input>
            </ion-item>
          </div>

          <div class="inputField food-name">
            <ion-item class="no-border">
              <ion-input label="Name of Food Business" label-placement="floating" fill="solid"
                placeholder="Enter Your Name of Food Business"></ion-input>
            </ion-item>
          </div>

          <div class="inputField nature">
            <ion-select label="Nature of Business" interface="popover" fill="solid"
              placeholder="Select One">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
          </div>

          <div class="inputField category">

            <ion-select label="Category" interface="popover" fill="solid"
              placeholder="Select One">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
          </div>

          <div class="inputField district">

            <ion-select label="District" interface="popover" fill="solid"
              placeholder="Select One">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
           
          </div>

          <div class="inputField secp">

            <ion-item class="no-border">
              <ion-input label="SECP" label-placement="floating" fill="solid" placeholder="Enter Your SECP"></ion-input>
            </ion-item>
          </div>

          <div class="inputField ntn">
            <ion-item class="no-border">
              <ion-input label="NTN" label-placement="floating" fill="solid" placeholder="Enter NTN"></ion-input>
            </ion-item>
          </div>

          <div class="inputField srb">

            <ion-item class="no-border">
              <ion-input label="SRB" label-placement="floating" fill="solid" placeholder="Enter SRB"></ion-input>
            </ion-item>
          </div>

          <div class="inputField tax">
            <ion-item class="no-border">
              <ion-input label="SALES TAX" label-placement="floating" fill="solid" placeholder="Enter TAX"></ion-input>
            </ion-item>
          </div>

          <div class="inputField area">
            <ion-item class="no-border">
              <ion-input label="Area Measurement (sq. ft)" label-placement="floating" fill="solid"
                placeholder="Enter Your Area Measurement (sq. ft)"></ion-input>
            </ion-item>
          </div>

          <div class="inputField address">

            <ion-item class="no-border">
              <ion-input label="Address" label-placement="floating" fill="solid"
                placeholder="Enter Your Address"></ion-input>
            </ion-item>
          </div>
        </form>

        <div class="check-sure-question">
          <p>Already Registered with Food Authority</p>
          <div class="checkbox-content">
            <ion-radio-group value="custom-checked">
              <div class="checkbox-btn">
                <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>Yes
              </div>
              <div class="checkbox-btn">
                <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>No
              </div>
            </ion-radio-group>
          </div>
        </div>

        <div class="date-of-registration">
          <div class="left-side">
            <p>If yes date of Registration</p>
          </div>
          <div class="right-side">
            <p>If registered with any other</p>
            <p>Authority/organization,</p>
            <p>attach the copy of certificate.</p>
          </div>

        </div>

        <form action="" id="license_form_bottom">
          <div class="inputField registrationName">
            <ion-item class="no-border">
              <ion-input label="Registration in the name of" label-placement="floating" fill="solid"
                placeholder="Enter Your Registration in the name of"></ion-input>
            </ion-item>
          </div>

          <div class="inputField currentPayment">

            <ion-item class="no-border">
              <ion-input label="Current Payment Details" label-placement="floating" fill="solid"
                placeholder="Enter Your Current Payment Details"></ion-input>
            </ion-item>
          </div>

          <div class="inputField ChallanNo">

            <ion-item class="no-border">
              <ion-input label="Challan No." label-placement="floating" fill="solid"
                placeholder="Enter Challan No."></ion-input>
            </ion-item>
          </div>

          <div class="inputField amountPaid">


            <ion-item class="no-border">
              <ion-input label="Amount Paid Rs" label-placement="floating" fill="solid"
                placeholder="Enter Amount Paid Rs"></ion-input>
            </ion-item>
          </div>

          <div class="inputField dateOfPayment">
            <ion-item class="no-border">
              <ion-input label="Date of Payment" label-placement="floating" fill="solid"
                placeholder="--/--/----"></ion-input>
            </ion-item>
          </div>

        </form>

        <div class="restaurant-section">
          <p>Any other Restaurant / food business owned by the applicant, if yes details thereof:</p>
        </div>

        <div class="declaration-section">
          <h5>Declaration</h5>
          <p>I hereby undertake that the information provided in this registration form is correct and no material
            information and date is concealed intentionally from the Authority. I request to kindly register my food
            business and issue license as stipulated under section 19 of the Sindh Food Authority Act 2016. </p>
        </div>

      </div>
    </div>

    <div class="bottom-submit-button">
      <ion-button>Save and generate Challan <span><ion-icon
            name="chevron-forward-outline"></ion-icon></span></ion-button>
    </div>


  </div>
</ion-content>