

    
    <div class="login-content" *ngIf="show_enter_otp == false">
      <h1>Select Send OTP</h1>
      <form id="login-form" #otpType="ngForm" (ngSubmit)="onSubmitFullForm()">
        <div class="inputField checkbox-content">
          <ion-radio-group
            [(ngModel)]="otp_type"
            name="otp_type"
            value="number"
          >
            <div class="checkbox-btn">
              <ion-radio value="email"></ion-radio><strong>Email</strong>
              <span id="email">dev.shamama&#64;gmail.com</span>
            </div>
            <div class="checkbox-btn">
              <ion-radio value="number"></ion-radio><strong>Number</strong>
              <span id="number">0312931283</span>
            </div>
          </ion-radio-group>
        </div>

        <ion-button type="submit" [disabled]="!otpType.valid" class="form-btn">Send OTP</ion-button>
      </form>
    </div>


    <div class="login-content"  *ngIf="show_enter_otp == true">
      <h1>Verify OTP</h1>
      <form id="login-form" action="">

        <div class="inputField">
          <ion-item class="no-border">
            <ion-input
              label="OTP"
              label-placement="floating"
              fill="solid"
              placeholder="Enter Your OTP"
            ></ion-input>
          </ion-item>
        </div>

        <ion-button class="form-btn">Verify OTP</ion-button>
      
      </form> 
    </div>

  
