<ion-content [fullscreen]="true">
  <div class="center-container">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="Logo" />
    </div>
    <div class="login-content">
      <h1>Forget Password</h1>
      <form
        id="login-form"
        id="login-form"
        #forgetPassword="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="inputField">
          <ion-item class="no-border">
            <ion-input
              [(ngModel)]="dataset.cnic"
              name="cnic"
              id="forgetCnic"
              required
              type="text"
              label="CNIC"
              label-placement="floating"
              fill="solid"
              placeholder="Enter Your CNIC"
              [maskito]="cardMask"
              [maskitoElement]="maskPredicate"
              ></ion-input>
          </ion-item>
        </div>

        <ion-button type="submit" [disabled]="!forgetPassword.valid" class="form-btn">Send OTP</ion-button>
        <div class="form-new-account">
          <p class="or">OR</p>
          <p class="">
            <a routerLink="/login"
              ><ion-icon name="arrow-back-outline"></ion-icon> Login Your
              Account</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
