<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="payChallen-container">
    <h2 class="section-title">Challan</h2>

    <div class="wrapper wrapper-one">
      <div class="top-heading-content">
        <div class="title">
          <h3>Challan Generated Successfully</h3>
        </div>
      </div>
      <div id="divContents">
        <div class="challan-content">
          <div class="water-mark">
            <img src="http://localhost:8100/assets/img/watermark.png" alt="" />
          </div>

          <div class="top-logo">
            <div class="logo left-logo">
              <img src="http://localhost:8100/assets/img/logo.png" alt="logo" />
            </div>
            <div class="logo right-logo">
              <img
                src="http://localhost:8100/assets/img/logo-3.png"
                alt="logo"
              />
            </div>
          </div>

          <h2>FOOD LICENSE FEE</h2>

          <div class="content">
            <div class="d-flex justify-content-between w-100">
              <div class="left-side">
                <strong>Deposit Slip No. </strong
                ><span class="b-1">0002312</span>
              </div>
              <div class="right-side">
                <strong>Challan No. </strong
                ><strong style="color: #dd0000" class="b-1">0002312</strong>
              </div>
            </div>

            <div class="d-flex justify-content-between w-100">
              <div class="left-side mangerSindhBankLtd">
                <div class="textMangerSindhBankLtd">
                  <p>The Manager,</p>
                  <p>Sindh Bank Ltd.</p>
                </div>
                <strong>Branch</strong>
              </div>
              <div class="right-side">
                <div>
                  <strong>Issue Date. </strong><span class="b-1">10/20/24</span>
                </div>
                <div>
                  <strong>Valid Date. </strong><span class="b-1">10/30/24</span>
                </div>
              </div>
            </div>

            <p>
              Please receive the following am ato Sindh Food Authority account
              No. 0303-509374-1000, title as ablishment of Sindh Food Authority
              Fund" being maintained at Sindh Bank Limited, Sindh Secretariat
              branch karachi from,
            </p>

            <div class="form">
              <div class="inputField mr-mrs">
                <label for="mr-mrs">MR/Mrs</label>
                <input type="text" />
              </div>

              <div class="inputField firm">
                <label for="firm">of M's (firm)</label>
                <input type="text" />
              </div>

              <div class="inputField category">
                <label for="firm">Category of Food Business</label>
                <input type="text" />
              </div>

              <div class="inputField address">
                <label for="firm">Address</label>
                <input type="text" />
              </div>

              <div class="inputField cnic">
                <label for="firm">CNIC No#:</label>
                <input type="text" />
              </div>
            </div>

            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>Particulars of Payment</th>
                    <th>Amount</th>
                    <th>Bank Details</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1. License Fee (Annual Fee)</td>
                    <td><strong>Rs.60,000</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>2. Renewal Fee</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                  <tr>
                    <td></td>
                    <td></td>
                    <td rowspan="3" style="text-align: center">
                      <div>
                        <p style="font-size: 14px; margin: 0">
                          Received Amount in cash P.O No
                        </p>
                      </div>
                      <strong class="b-1">Rs.60,000/-</strong>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Total :</td>
                    <td><strong>Rs.60,000</strong></td>
                  </tr>

                  <tr>
                    <td colspan="3">Amount to be paid Rs.60,000</td>
                  </tr>

                  <tr>
                    <td colspan="3">
                      In words Kupees : <strong>Sixty thousand</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="signature-bottom-content">
              <div class="inputField signature-one">
                <label for="signature-one">Signature</label>
                <input type="text" />
              </div>

              <div class="inputField signature-two">
                <label for="signature-two">Signature</label>
                <input type="text" />
              </div>

              <div class="inputField dd-ops">
                <label for="dd-ops">Name of DD OPS</label>
                <input type="text" />
              </div>

              <div class="inputField officer">
                <label for="dd-ops">Officer</label>
                <input type="text" />
              </div>

              <div class="inputField district">
                <label for="district">District</label>
                <input type="text" />
              </div>

              <div class="text">
                <p style="margin: 0"><strong>Food Safety Officer</strong></p>
                <p style="margin: 0"><strong>Authorized Officer</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-content">
        <p>
          <strong class="note">Note: </strong>First, pay the challan, then in
          the next process, your license will be issued. Thank you.
        </p>

        <div
          class="challan-download-btn w-100 d-flex justify-content-center flex-direction-row align-items-center"
        >
          <ion-button
            ><span>Download</span>
            <ion-icon name="cloud-download-outline"></ion-icon
          ></ion-button>

          <ion-button (click)="myFunc()"
            ><span>Print Challan</span>
            <ion-icon name="print-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="bottom-submit-button">
      <ion-button routerLink="/uploaddocument"
        >Upload Document
        <span><ion-icon name="chevron-forward-outline"></ion-icon></span
      ></ion-button>
    </div>
  </div>

</ion-content>
