<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="dashboard-container">
    <h2 class="section-title">Profile</h2>

    <div class="wrapper wrapper-one">
      <div class="profile-content left-side">
        <h5>Profile</h5>
        <div class="profile-image" (click)="fileInput()">
          <ion-img src="{{profileLogo}}" alt="Profile Image"></ion-img>
        </div>

        <div class="profile-info">
          <small>SAF User</small>
        </div>

        <ion-button
        form="form"
        type="submit"
        *ngIf="userProfileStatus == false"
        [disabled]="userProfileBtnStatus"
        >update</ion-button
      >
      </div>
      <div class="profile-content right-side">
        <h5>Edit Details</h5>

        <div class="profile-basic-info">
          <form
            id="userProfile"
            #userProfile="ngForm"
            (ngSubmit)="onSubmitUserProfile()"
            id="form"
          >
            <input
              type="file"
              [(ngModel)]="profileDataset.logo"
              name="logo"
              id="logoFileInputProfile"
              hidden
              readonly="{{userProfileStatus}}"
                  disabled="{{userProfileStatus}}"
                  (change)="onFileChange($event)"
              required
            />

            <div class="inputField name">
              <ion-item class="no-border">
                <ion-input
                  [(ngModel)]="profileDataset.name"
                  name="name"
                  id="name"
                  type="text"
                  label="Name"
                  label-placement="floating"
                  fill="solid"
                  readonly="{{userProfileStatus}}"
                  disabled="{{userProfileStatus}}"
                  placeholder="Enter Your Name"
                ></ion-input>
              </ion-item>
            </div>

            <div class="inputField email">
              <ion-item class="no-border">
                <ion-input
                  type="email"
                  [(ngModel)]="profileDataset.email"
                  name="email"
                  label="Email"
                  readonly="{{userProfileStatus}}"
                  disabled="{{userProfileStatus}}"
                  label-placement="floating"
                  fill="solid"
                  placeholder="Enter Your Name of Email"
                ></ion-input>
              </ion-item>
            </div>

            <div class="inputField phone">
              <ion-item class="no-border">
                <ion-input
                  [(ngModel)]="profileDataset.phone"
                  name="phone"
                  type="number"
                  label="Phone"
                  label-placement="floating"
                  fill="solid"
                  readonly="{{userProfileStatus}}"
                  disabled="{{userProfileStatus}}"
                  placeholder="Enter Your Name of Phone"
                ></ion-input>
              </ion-item>
            </div>

            <ion-button
              type="button"
              *ngIf="userProfileStatus == true"
              (click)="editClick()"
              >Edit</ion-button
            >

            <ion-button
              type="submit"
              *ngIf="userProfileStatus == false"
              [disabled]="userProfileBtnStatus"
              >Save</ion-button
            >
          </form>
        </div>

        <h5 style="margin-top: 20px">Change Password</h5>

        <div class="profile-password-update">
          <form #changePassword="ngForm" (ngSubmit)="onSubmitPassword()">
            <div class="inputField currentPassword">
              <ion-item class="no-border">
                <ion-input
                  [(ngModel)]="passwordDataset.currentPassword"
                  name="currentPassword"
                  required
                  type="password"
                  label="Current Password"
                  label-placement="floating"
                  fill="solid"
                  placeholder="Enter Your Current Password"
                ></ion-input>
              </ion-item>
            </div>

            <div class="inputField newPassword">
              <ion-item class="no-border">
                <ion-input
                  [(ngModel)]="passwordDataset.newPassword"
                  name="newPassword"
                  required
                  type="password"
                  label="New Password"
                  label-placement="floating"
                  fill="solid"
                  placeholder="Enter Your New Password"
                ></ion-input>
              </ion-item>
            </div>

            <div class="inputField confirmPassword">
              <ion-item class="no-border">
                <ion-input
                  [(ngModel)]="passwordDataset.confirmPassword"
                  name="confirmPassword"
                  required
                  type="password"
                  label="Confirm Password"
                  label-placement="floating"
                  fill="solid"
                  placeholder="Enter Your Confirm Password"
                ></ion-input>
              </ion-item>
            </div>

            <!-- Validation message -->
            <div *ngIf="!passwordsMatch && passwordDataset.confirmPassword">
              <p style="color: red; margin-top: 0; font-size: 13px">
                Passwords do not match
              </p>
            </div>

            <ion-button type="submit" [disabled]="!changePassword.valid"
              >Password Update</ion-button
            >
          </form>
        </div>


        <h2>============================</h2>
        <!-- <button type="button" class="btn btn-sm btn-primary" (click)="editClick()">Send</button> -->

      </div>
    </div>
  </div>
</ion-content>
