<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="license-container">
    <h2 class="section-title">License Details</h2>


    <div class="wrapper wrapper-one">
      <div class="item checklist">
        <h5>CHECKLIST</h5>

        <div class="checklist-content">
          <div class="item-checklist">
            <div class="left-side">
              <div class="icon"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
              <div class="text">
                <p>Copy of CNIC.</p>
              </div>
            </div>
            <div class="right-side">
              <ion-button><ion-icon name="cloud-download-outline"></ion-icon> <span>Uploaded</span></ion-button>
            </div>
          </div>
          
          <div class="item-checklist">
            <div class="left-side">
              <div class="icon"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
              <div class="text">
                <p>Copy of CNIC.</p>
              </div>
            </div>
            <div class="right-side">
              <ion-button><ion-icon name="cloud-download-outline"></ion-icon> <span>Uploaded</span></ion-button>
            </div>
          </div>

          <div class="item-checklist">
            <div class="left-side">
              <div class="icon"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
              <div class="text">
                <p>Copy of CNIC.</p>
              </div>
            </div>
            <div class="right-side">
              <ion-button><ion-icon name="cloud-download-outline"></ion-icon> <span>Uploaded</span></ion-button>
            </div>
          </div>

          <div class="item-checklist">
            <div class="left-side">
              <div class="icon"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
              <div class="text">
                <p>Copy of CNIC.</p>
              </div>
            </div>
            <div class="right-side">
              <ion-button><ion-icon name="cloud-download-outline"></ion-icon> <span>Uploaded</span></ion-button>
            </div>
          </div>
        </div>

      </div>
      <div class="item completeIn">
        <h5>Complete In</h5>
      </div>
      <div class="item documentStatus">
        <h5>Document Status</h5>
      </div>
    </div>

  </div>

</ion-content>