<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="challanlist-container">
    <h2 class="section-title">Upload Document</h2>

    <div class="wrapper wrapper-one">
  
      <!-- Challan -->
      <div class="item">
        <div class="top-heading">
          <h2>Copy of Challan form</h2>
        </div>
        <input
          type="file"
          (change)="challanDocumentInput($event)"
          id="challan-input"
          hidden
        />

        <div class="uploaded-document" (click)="challanDocument()">
          <div class="show" id="challan-show">
            <h4 id="challan-text">Drag And Drop</h4>
            <ion-icon id="challan-icon" name="cloud-upload-outline"></ion-icon>
          </div>
          <div class="hide" id="challan-hide">
            <div class="image-detail">
              <div class="image-name" id="challan-image-name"></div>
              <div class="image-size" id="challan-image-size"></div>
            </div>
          </div>
        </div>

        <div class="important-message">
          <strong>Note: </strong>
          <div>
            <p>* Documents should be properly signed and stamped</p>
            <p>* Documents should be in legible writing and language</p>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</ion-content>

<ion-footer class="bottom-footer">
  <ion-toolbar>
    <ion-title slot="start"></ion-title>
    <div class="bottom-submit-button" slot="end">
      <ion-button (click)="submitForUploadDocument()"
        >Submit For Review
        <span><ion-icon name="chevron-forward-outline"></ion-icon></span
      ></ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
