<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="dashboard-container">
    <h2 class="section-title">Dashboard</h2>

    <div class="wrapper wrapper-one">
      <div class="quick-item quick-item-1">
        <div class="left-side">
          <div class="text">
            <h4>Finalized/Delivered</h4>
          </div>
          <div class="icon">
            <ion-icon name="list-circle-outline"></ion-icon>
          </div>
        </div>
        <div class="right-side">
          <h2>{{dashboardStatus.approve}}</h2>
        </div>
      </div>
      <div class="quick-item quick-item-2">
        <div class="left-side">
          <div class="text">
            <h4>Total Rejected</h4>
          </div>
          <div class="icon">
            <ion-icon name="close-circle-outline"></ion-icon>
          </div>
        </div>
        <div class="right-side">
          <h2>{{dashboardStatus.reject}}</h2>
        </div>
      </div>
      <div class="quick-item quick-item-3">
        <div class="left-side">
          <div class="text">
            <h4>Total Expired</h4>
          </div>
          <div class="icon">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
        </div>
        <div class="right-side">
          <h2>{{dashboardStatus.get_expired}}</h2>
        </div>
      </div>
    </div>

    <div class="wrapper wrapper-two">
      <div class="top-heading-content">
        <div class="title">
          <h3>My License</h3>
        </div>
        <div class="search-inputField">
        </div>
      </div>

      <div class="license-item-content">
        <div class="notFound" *ngIf="licenseList.length == 0">
          <img src="./assets/img/licenseFound.png" alt="">
          <h3>License Not Found</h3>
        </div>
        <div class="license-item" *ngFor="let license of licenseList">
          <div class="top-content">
            <div class="left-side">
              <h6>
                License ID Number:
                <span class="license-id">{{license.License_ID}}</span>
              </h6>
              <p>
                Name of Applicant:
                <span class="name">{{license.Name_of_Applicant}}</span>
              </p>
              <p>
                Name of Food Business:
                <span class="food-name">{{license.Name_of_Food_Business}}</span>
              </p>
            </div>
            <div class="right-side">
              <div><h5>License Status</h5>
                <h4 class="approved" [ngStyle]="{ 'color': license.Status === 'Reject' ? 'red' : 'green' }">
                  {{license.Status}}</h4></div>
                  <div class="qr-barcode">
                    <img  class="qrcode" src="{{domain}}{{license.QR_code}}" alt="">
                    <img  class="barcode" src="{{domain}}{{license.Bar_code}}" alt="">
                  </div>
            </div>
          </div>

          <div class="bottom-content">
            <div class="left-side">
              <span class="item">Issue Date :
                <span class="">{{license.date.slice(0, 10)}}</span>
              </span>
              <span class="item">Expiry Date :
                <span class="license-expiry">{{license.Expiry_date == null ? "0000-00-00" : license.Expiry_date}}</span>
              </span>
              <span class="item">District :
                <span class="">{{license.district.District_Name}}</span>
              </span>
            </div>
            <div class="right-side">

              <button type="button" class="btn btn-primary renew-btn" style="background-color: #ec0a0a"
                *ngIf="license.Status !== 'Renew' && license.Expiry_date == 'Expired' ">
                <div class="text" routerLink="/update-license/{{license.id}}">
                  Renew
                </div>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </button>

              <button type="button" class="btn btn-secondary view-btn">
                <div class="text" routerLink="/licensedetail/{{license.id}}">
                  View
                </div>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </button>

              <button type="button" class="btn btn-primary challan-btn" style="background-color: #d29d21">
                <div class="text" routerLink="/paychallan/{{license.id}}">
                  Challan
                </div>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>